name: Ping Website

on:
  schedule:
    - cron: '*/14 * * * *'
  # Allows manual trigger from the Actions tab
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping the website
        # Use curl to send a GET request to the specified URL
        run: curl https://graph-creator-rpry.onrender.com
